stm32c0_led/.settings/language.settings.xml
stm32c0_led/Debug/
stm32c0_led/stm32c0_led Debug.launch
stm32c0_pwm/Debug/
stm32c0_pwm/.settings/language.settings.xml
stm32c0_adc/Debug/
stm32c0_adc/.settings/language.settings.xml
stm32c0_adc_scan_dma/Debug/
stm32c0_adc_scan_dma/.settings/language.settings.xml
stm32c0_button/.settings/language.settings.xml
stm32c0_uart/Debug/
stm32c0_uart_dma/Debug/
stm32c0_uart_dma/.settings/language.settings.xml
